/build
/src/main/java/it/macgood/mathanappkt/ui/guidebook/author/
/src/main/java/it/macgood/mathanappkt/ui/guidebook/contacts/
/src/main/java/it/macgood/mathanappkt/ui/guidebook/converter/
/src/main/java/it/macgood/mathanappkt/ui/guidebook/desmos/
/src/main/java/it/macgood/mathanappkt/ui/guidebook/download/
/src/main/java/it/macgood/mathanappkt/ui/guidebook/encyclopedia/
/src/main/java/it/macgood/mathanappkt/ui/guidebook/remark/
/src/main/java/it/macgood/mathanappkt/ui/guidebook/supportingmaterials/
/src/main/java/it/macgood/mathanappkt/ui/guidebook/tests/
/src/main/java/it/macgood/mathanappkt/ui/handbook/demidovich/
/src/main/res/layout/fragment_about.xml
/src/main/res/layout/fragment_author.xml
/src/main/res/layout/fragment_chapters.xml
/src/main/res/layout/fragment_contacts.xml
/src/main/res/layout/fragment_converter.xml
/src/main/res/layout/fragment_desmos.xml
/src/main/res/layout/fragment_download.xml
/src/main/res/layout/fragment_encyclopedia.xml
/src/main/res/layout/fragment_exercise.xml
/src/main/res/layout/fragment_exercise_actions.xml
/src/main/res/layout/fragment_exercises.xml
/src/main/res/layout/fragment_remark.xml
/src/main/res/layout/fragment_search.xml
/src/main/res/layout/fragment_supporting_materials.xml
/src/main/res/layout/fragment_task.xml
/src/main/res/layout/fragment_tasks.xml
/src/main/res/layout/fragment_tests.xml
/src/main/res/layout/item_alphabet.xml
/src/main/res/layout/item_chapters.xml
/src/main/res/layout/item_encyclopedia_about.xml
/src/main/res/layout/item_suppotring_material.xml
